* {
  text-transform: capitalize;
}

.margin-8 {
  padding: 8px !important;
}

.margin-0 {
  padding: 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

.item-end {
  float: right !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.msg-you, .msg-me {
  box-shadow: none;

}

.msg-you {
  background: rgb(213, 239, 246);
  border-radius: 0 20px 20px 20px;
}

.msg-me {
  background: rgb(183, 255, 220);
  border-radius: 20px 0 20px 20px;
}

.msg-you .msg-card-corner {
  height: 50px;
  width: 50px;
  background: inherit;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(45deg);
  //margin-left: -24px;
  left: 12%;
}

.msg-me .msg-card-corner {
  height: 50px;
  width: 50px;
  background: inherit;
  position: absolute;
  right: 12%;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(45deg);
  //margin-left: -24px;
}

.footer-input .text-input {
  display: inline-block;
  background: #fff;
  margin: 0 0 0 0 !important;
  padding-top: 10px !important;
  padding-left: 10px;
  border-radius: 10px !important;
}

.footer-input ion-item .item-inner {
  border: none;
  padding: 0 0 0 0 !important;
}

.footer-input ion-item {
  background: transparent;
  padding: 0;
  margin: 0;
}

.send-icon {
  padding: 0 !important;
  font-size: 3em !important;
}

ion-label {
  margin-bottom: 2px !important;
}

.ion-ios-text:before {
  content: "\f250";
}

.badge {
  height: 10px;
  background: #284dc1;
  border-radius: 100%;
  margin: 10px 0 0 -7px;
  font-size: 8px;
   padding: 4px;
  color: transparent;
  position: absolute;
}
