* {
  text-transform: capitalize;
}

.margin-8 {
  padding: 8px !important;
}

.margin-0 {
  padding: 0 !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

.item-end {
  float: right !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

ion-label {
  margin-bottom: 2px !important;
}