<ion-toolbar primary *navbar>
    <ion-title>Menu</ion-title>
    <ion-buttons end>
        <button royal (click)="doLogout()">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>


<ion-content>
    <div>
        <ion-segment [(ngModel)]="tab">
            <ion-segment-button value="0">
                <ion-icon name="md-search"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="1">
                <ion-icon name="ios-people"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2">
                <ion-icon name="md-person-add"></ion-icon>
                <i class="badge" *ngIf="requests.length">.</i>
            </ion-segment-button>
            <ion-segment-button value="3">
                <ion-icon name="md-notifications"></ion-icon>
                <i class="badge" *ngIf="notifications.length">.</i>
            </ion-segment-button>
            <ion-segment-button value="4">
                <ion-icon name="ios-text"></ion-icon>
                <!--<ion-badge item-right>21</ion-badge>-->
                <i class="badge">..</i>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="tab">
        <ion-list *ngSwitchWhen="'0'">
            <ion-item *ngFor="#user of allUsers">
                <ion-avatar item-left>
                    <img src="{{user.profileImg}}">
                </ion-avatar>
                <h2>{{user.firstName}} {{user.lastName}}</h2>

                <p class="text-lowercase">{{user.userName}}
                    <button class="item-end" (click)="sendRequest(user)" small>Send Request</button>
                </p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchWhen="'1'">
            <ion-item *ngFor="#friend of friends" (click)="goToChat(friend)">
                <ion-avatar item-left>
                    <img src="{{friend.profile.profileImg}}">
                </ion-avatar>
                <h2>{{friend.profile.firstName}} {{friend.profile.lastName}}</h2>

                <p class="text-lowercase">{{friend.profile.userName}}</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchWhen="'2'">
            <ion-item *ngFor="#request of requests">
                <ion-avatar item-left>
                    <img src="{{request.profile.profileImg}}">
                </ion-avatar>
                <p> you have received new request from {{request.profile.firstName}} {{request.profile.lastName}}</p>

                <p class="text-lowercase">{{user}}</p>

                <div class="text-end">
                    <button (click)="resToReq(true,request)" small>Confirm</button>
                    <button (click)="resToReq(false,request)" small outline>Remove</button>
                </div>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchWhen="'3'">
            <ion-item *ngFor="#notification of notifications">
                <ion-avatar item-left>
                    <img src="{{notification.profile.profileImg}}">
                </ion-avatar>
                <p>{{notification.profile.firstName}} {{notification.profile.lastName}} accept your friend request.</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchWhen="'4'">
            <ion-item [ngClass]="{unread:conversation.lastMsg.from == userData.uid && !conversation.lastMsg.read}"
                      *ngFor="#conversation of conversations" (click)="goToChat(conversation)">
                <ion-avatar item-left>
                    <img src="{{conversation.profile.profileImg}}">
                </ion-avatar>
                <h2>{{conversation.profile.firstName}} {{conversation.profile.lastName}}</h2>

                <p class="text-lowercase">{{conversation.lastMsg.text}}
                    <sup class="item-end">{{conversation.lastMsg.time}}</sup>
                </p>
            </ion-item>
        </ion-list>
    </div>


</ion-content>
