<ion-navbar primary *navbar>
    <ion-grid padding>
        <ion-row>
            <ion-col width-10>
                <ion-avatar item-left>
                    <img src="{{friend.profileImg}}">
                </ion-avatar>
            </ion-col>
            <ion-col width-90>
                <ion-title style="padding-top: 20px">{{friend.firstName}} {{friend.lastName}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-buttons end>
        <button royal (click)="doLogout()">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <span *ngFor="#msg of messages">
        <ion-grid padding *ngIf="friend.userID == msg.to">
            <ion-row>
                <ion-col width-10>
                    <ion-avatar item-left>
                        <img src="{{friend.profileImg}}">
                    </ion-avatar>
                </ion-col>
                <ion-col width-90>
                    <ion-card padding class="msg-you">
                        <div class="msg-card-corner"></div>
                        <p>{{msg.text}}</p>
                        <sub padding class="item-end">{{msg.time}}</sub>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid padding *ngIf="friend.userID == msg.from">
            <ion-row>
                <ion-col width-90>
                    <ion-card padding class="msg-me">
                        <div class="msg-card-corner"></div>
                        <p>{{msg.text}}</p>
                        <sub padding class="item-end">{{msg.time}}</sub>
                    </ion-card>
                </ion-col>
                <ion-col width-10>
                    <ion-avatar item-left>
                        <img src="{{currentUserProfile.profileImg}}">
                    </ion-avatar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </span>
    <div id="#bottom"></div>
</ion-content>

<ion-toolbar primary position="bottom" class="footer-input">

    <ion-grid padding>
        <ion-row>
            <ion-col width-90>
                <ion-item>
                    <ion-textarea [(ngModel)]="msg" placeholder="Type Message"></ion-textarea>
                </ion-item>
            </ion-col>
            <ion-col width-5>
                <button light clear end (click)="sendMsg(msg)" [disabled]="!msg" href="#bottom">
                    <ion-icon class="send-icon" name='ios-send'></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>
